# Canonical identity for git shortlog / GitHub attribution.
Mateusz Kornaś <kornas.mateusz@gmail.com> Mateusz Kornas <kornas.mateusz@gmail.com>
Mateusz Kornaś <kornas.mateusz@gmail.com> mako <hi@mateuszkornas.com>
